{% extends 'base.html' %}




{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Presentation about myself</h3>
      <h5>My name is Stelian, and I am excited to introduce myself to all of you.
          I'll give you a short presentation about who I am.
          First and foremost, I work for an internet company.
          I have been passionate about Python for a
          few years and have gained experience and knowledge
          in this field.
          I am constantly eager to learn and grow in my profession.
          I am committed to personal and professional growth,
          and I value my relationships with everyone.
          Thank you for getting to know me, and I look forward to
          getting to know each of you as well.</h5>

    </div>



    <div class="col-sm-4">
      <h3>Computer skills </h3>
      <h5>I know a few things about computers,
      on the software side and the hardware side.
      I' m here to teach you some of my knowledge.
      If you need help with your pc, or your console
      i have a few tutorial on this site.
      I created this app for helping you in some cases,
      and if you don't find something specific,
      you can ask your question in chat room.
      I' m trying to help you as fast as possible,
      and maybe you are going tu understand some
      basics about pc and consoles.
      Now i'm going to let you explore and hoping
      you are going to enjoy this.Thank you!</h5>


    </div>


    <div class="col-sm-4">
      <h3>Python and Django</h3>
      <h5>Basic Programming: Understanding fundamental programming
          concepts and having proficiency in a programming language
          such as Python, Web Development Technologies: Knowledge
          of web development technologies such as HTML, CSS.
          Django is a popular open-source web framework for building
          scalable and secure web applications using the Python programming
          language. It follows the model-view-controller (MVC) architectural
          pattern and includes built-in features that can help developers to build
          applications quickly and efficiently. Django is used by many companies
          and organizations to build web applications, including Instagram,
          Mozilla, and Pinterest.</h5>

    </div>
  </div>
</div>

{% endblock content %}