{% extends 'base.html' %}



{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>How To Build A PC</h3>
      <h5>Learning how to build a PC from scratch is easier than you might think.
        The process mostly involves screwing in the right screws and connecting the right cables,
        so as long as you're careful with your components and take the proper safety precautions,
        even beginners can make a PC that rivals the best desktop computers.</h5>
      <br>
      <h6> ~TIP~ Cut Down on the Number of Apps Running</h6>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/qkr07CutHrU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4">
      <h3>How to install a graphics card</h3>
      <h5>Swapping graphics cards has gotten much simpler over the years,
        and driver installation is pretty much a hands-off process. Once you've chosen your card
        and have your computer open, you can usually have your new card installed and ready to go in just a few minutes.</h5>
      <br>
      <br>
      <h6>~TIP~ Password-Protect Your Files</h6>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/f4iSkGqx_Ng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4">
      <h3>Monitors Explained</h3>
      <h5>A computer monitor is an output device that displays information in pictorial
        or textual form. A discrete monitor comprises a visual display, support electronics,
        power supply, housing, electrical connectors, and external user controls.</h5>
      <br>
      <br>
      <br>
      <h6>~TIP~ Uninstall any unnecessary or unused software</h6>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/yxygknX1AiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>



{% endblock content %}
