{% extends 'base.html' %}


{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>How to upgrade PS5 storage</h3>
      <h5>The best solution to all of these problems is to expand the internal
        storage of your PS5 by installing another high-speed NVMe SSD
        to the console – a process that is easier than it's ever been,
        compared to the PS3 and PS4 generations.</h5>
      <br>
      <br>
      <h6> ~TIP~ Get to know the DualSense</h6>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/IR9JFlL0lNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></iframe>
    </div>
    <div class="col-sm-4">
      <h3>How to Clean Your PS5 Safely</h3>
      <h5>As with all consoles, accumulation of dust is a hazard that can
        lead to overheating, and ultimately console failure. With this in mind Sony
        designed the PS5 to make it very easy to check for dust buildup and removal.</h5>
      <br>
      <br>
      <br>
      <h6>~TIP~ Turn off trophy videos to save space</h6>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/07VSIwxOEXE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4">
      <h3>How To Transfer Data From PS4 to PS5</h3>
      <h5>Sony offers a few ways to move your data from one console to another.
        In fact, it will prompt you to do so during the PS5 setup process.
        But if you skipped that at the time, you can re-start the process
        from the console's settings. Here are your options.</h5>
      <br>
      <h6>~TIP~ Use cards to get in-game quickly</h6>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/FhC9nh71XS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>





{% endblock content %}